---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/listing/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"r3p0rt3r","reporter_user_type":"ENDUSER","reporter_ip":"1.1.1.1","listing_id":"78912li","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094749Z","event_type":"listing.user_feedback","client_id":"1253","hostname":"events2001.impermium.com","response_id":"314B59A0-A3F3-11E1-BED4-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:50 GMT
recorded_with: VCR 2.0.1
