---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"profile_id":"whi543_profile","reporter_user_id":"whi789","reporter_user_type":"ENDUSER","reporter_ip":"1.1.1.1","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111758Z","response_id":"CLID-1253-EVENTS2001-0306111758-0767920E-677E-11E1-ACEB-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:58 GMT
recorded_with: VCR 2.0.0
