---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":null,"blog_post_id":"just-a-post#984721","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"0EC45BDE-A3F3-11E1-B414-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''analyst_id'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:46:52 GMT
recorded_with: VCR 2.0.1
