---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"4n4l1s7_ID","bookmark_id":"b00km4rk_ID","desired_result":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"178CC936-A3F3-11E1-B95B-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''desired_result'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:47:06 GMT
recorded_with: VCR 2.0.1
