---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"4n4l1s7_ID","bookmark_id":null,"desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''bookmark_id'' could
        not be found)"}'
  recorded_at: Tue, 06 Mar 2012 11:16:56 GMT
recorded_with: VCR 2.0.0
