---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"r3p0rt3r_ID","reporter_user_type":"ENDUSER","reporter_ip":"2.2.2.2","bookmark_id":"b00km4rk_ID","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111701Z","response_id":"CLID-1253-EVENTS2001-0306111701-E559DD52-677D-11E1-A120-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:01 GMT
recorded_with: VCR 2.0.0
