---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/url/user_feedback/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","url":"http://example.com/category/book/marks/33?query=whi","reporter_user_type":"ENDUSER","desired_result":{"4.0":{"tags":["spam"]}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213173117Z","event_type":"url.user_feedback","status":200,"client_id":"1253","hostname":"events1001.impermium.com","response_id":"E674874A-454A-11E2-9562-9F75CCDB01D8"}'
  recorded_at: Thu, 13 Dec 2012 17:31:22 GMT
recorded_with: VCR 2.2.2
