---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/profile/analyst_feedback/
    body:
      encoding: UTF-8
      string: ! '{"profile_id":"123456","user_id":"whi543_profile","desired_result":{"4.0":{"spam_classifier":{"label":"notspam"}}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121212232232Z","event_type":"profile.analyst_feedback","status":200,"client_id":"1253","hostname":"events1001.impermium.com","response_id":"CDC1F914-44B2-11E2-A506-9F75CCDB01D8"}'
  recorded_at: Wed, 12 Dec 2012 23:22:37 GMT
recorded_with: VCR 2.0.1
