---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","bookmark_id":"b00km4rk_ID","bookmark_url":"http://example.com/category/book/marks/33?query=whi","enduser_ip":"2.2.2.2"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event_type":"bookmark.create","client_id":"1253","hostname":"events2001.impermium.com","timestamp":"20120522094700Z","4.0":{"tags":[]},"spam_classifier":{"score":0,"label":"notspam"},"response_id":"13E16A80-A3F3-11E1-9F1E-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:00 GMT
recorded_with: VCR 2.0.1
