---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","bookmark_id":"b00km4rk_ID","bookmark_url":"http://example.com/category/book/marks/33?query=whi","enduser_ip":"2.2.2.2"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111651Z","spam_classifier":{"score":0,"label":"notspam"},"response_id":"CLID-1253-EVENTS2001-0306111651-DF7E8B4E-677D-11E1-A87B-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:16:51 GMT
recorded_with: VCR 2.0.0
