---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","blog_post_id":"just-a-post#984721","content":"just
        a simple post","blog_post_permalink":"http://example.com/2012/03/05/just_a_post","blog_url":null,"enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"0D804DAA-A3F3-11E1-AD00-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''blog_url'' could not
        be found)"}'
  recorded_at: Tue, 22 May 2012 09:46:50 GMT
recorded_with: VCR 2.0.1
