---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","blog_post_id":null,"content":"just a simple
        post","blog_post_permalink":"http://example.com/2012/03/05/just_a_post","blog_url":"http://example.com","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"0C676E76-A3F3-11E1-A76B-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''blog_post_id'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:46:48 GMT
recorded_with: VCR 2.0.1
