---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/post/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","blog_post_id":"just-a-post#984721","content":null,"blog_post_permalink":"http://example.com/2012/03/05/just_a_post","blog_url":"http://example.com","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"block","tag_details":{"spam":{"score":"1"}},"tags":["spam"]},"timestamp":"20121212145336Z","event_type":"generic_post.create","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"B514F444-446B-11E2-A86D-2CC381A98F61"}'
  recorded_at: Wed, 12 Dec 2012 14:53:40 GMT
recorded_with: VCR 2.0.1
