---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/post/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","blog_post_id":"just-a-post#984721","content":"just
        a simple post","blog_post_permalink":null,"blog_url":"http://example.com","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121212145337Z","event_type":"generic_post.create","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"B56C48C0-446B-11E2-9BB2-2CC381A98F61"}'
  recorded_at: Wed, 12 Dec 2012 14:53:41 GMT
recorded_with: VCR 2.0.1
