---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","blog_post_id":"just-a-post#984721","content":"just
        a simple post","blog_post_permalink":"http://example.com/2012/03/05/just_a_post","blog_url":"http://example.com","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111642Z","spam_classifier":{"score":"0.22","label":"notspam"},"response_id":"CLID-1253-EVENTS2001-0306111642-DA0269D8-677D-11E1-84AC-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:16:42 GMT
recorded_with: VCR 2.0.0
