---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","blog_post_id":"just-a-post#984721","content":"just
        a simple post","blog_post_permalink":"http://example.com/2012/03/05/just_a_post","blog_url":"http://example.com","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event_type":"blog_post.create","client_id":"1253","hostname":"events2001.impermium.com","4.0":{"tags":[]},"timestamp":"20120522094651Z","spam_classifier":{"score":0,"label":"notspam"},"policy_classifier":{"action":"allow","labels":[]},"response_id":"0E5770DC-A3F3-11E1-9B34-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:46:51 GMT
recorded_with: VCR 2.0.1
