---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/like/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","bookmark_id":"b00km4rk_ID","bookmark_url":"http://example.com/category/book/marks/33?query=whi","like_value":null,"enduser_ip":"2.2.2.2"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''like_value'' could
        not be found)"}'
  recorded_at: Tue, 06 Mar 2012 11:16:54 GMT
recorded_with: VCR 2.0.0
