---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/like/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","bookmark_id":"b00km4rk_ID","bookmark_url":null,"like_value":"1","enduser_ip":"2.2.2.2"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"15526072-A3F3-11E1-B95B-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''bookmark_url'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:47:03 GMT
recorded_with: VCR 2.0.1
