---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/like/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":null,"bookmark_id":"b00km4rk_ID","bookmark_url":"http://example.com/category/book/marks/33?query=whi","like_value":"1","enduser_ip":"2.2.2.2"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"14567898-A3F3-11E1-9E7A-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''user_id'' could not
        be found)"}'
  recorded_at: Tue, 22 May 2012 09:47:01 GMT
recorded_with: VCR 2.0.1
