---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/signup/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213175811Z","event_type":"account.create","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"A87449D6-454E-11E2-9B67-2CC381A98F61"}'
  recorded_at: Thu, 13 Dec 2012 17:58:14 GMT
recorded_with: VCR 2.2.2
