---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/signup/analyst_feedback/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","desired_result":{"4.0":{"tags":["spam"]}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213183005Z","event_type":"account.analyst_feedback","status":200,"client_id":"1253","hostname":"events1002.impermium.com","response_id":"1D5FBE2A-4553-11E2-9B83-3CB61D137137"}'
  recorded_at: Thu, 13 Dec 2012 18:43:32 GMT
recorded_with: VCR 2.2.2
