---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/url/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","url":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213185019Z","event_type":"url.create","status":200,"client_id":"1253","hostname":"events1002.impermium.com","response_id":"F10D6E0A-4555-11E2-A58C-3CB61D137137"}'
  recorded_at: Thu, 13 Dec 2012 19:03:46 GMT
recorded_with: VCR 2.2.2
