---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/url/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","url":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121212215901Z","event_type":"url.create","status":200,"client_id":"1253","hostname":"events1002.impermium.com","response_id":"22CAAD18-44A7-11E2-A5EE-3CB61D137137"}'
  recorded_at: Wed, 12 Dec 2012 22:12:23 GMT
recorded_with: VCR 2.0.1
