---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/login/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111744Z","response_id":"CLID-1253-EVENTS2001-0306111744-FEEB0002-677D-11E1-ACEB-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:44 GMT
recorded_with: VCR 2.0.0
