---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/login/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094757Z","event_type":"account.login","client_id":"1253","hostname":"events2001.impermium.com","response_id":"35B436CE-A3F3-11E1-8ECF-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:57 GMT
recorded_with: VCR 2.0.1
