---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/account/login/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>404 Not Found</title>

        </head><body>

        <h1>Not Found</h1>

        <p>The requested URL /4.0/8239ba43023800c02a36f57993a63f0b/account/login/
        was not found on this server.</p>

        <hr>

        <address>Apache/2.2.14 (Ubuntu) Server at api-test.impermium.com Port 80</address>

        </body></html>

'
  recorded_at: Thu, 13 Dec 2012 16:19:06 GMT
recorded_with: VCR 2.0.1
