---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/connection/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"operation":"request","connection_type":"friend","connection_id":"u236711u558749c9724392933355478","requester_user_id":"u236711","responder_user_id":"u558749","enduser_ip":"3.3.3.3"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111717Z","response_id":"CLID-1253-EVENTS2001-0306111717-EECD5256-677D-11E1-A950-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:17 GMT
recorded_with: VCR 2.0.0
