---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/connection/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"operation":"request","connection_type":"follow","connection_id":"u236711u558749c9724392933355478","requester_user_id":"u236711","responder_user_id":"u558749","enduser_ip":"3.3.3.3"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094729Z","event_type":"connection.request","client_id":"1253","hostname":"events2001.impermium.com","response_id":"24F9B002-A3F3-11E1-B95B-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:29 GMT
recorded_with: VCR 2.0.1
