---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","profile_id":"whi543_profile","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event_type":"profile.create","client_id":"1253","hostname":"events2001.impermium.com","timestamp":"20120522094806Z","4.0":{"tags":[]},"spam_classifier":{"score":0,"label":"notspam"},"response_id":"3AF62570-A3F3-11E1-9E7A-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:48:06 GMT
recorded_with: VCR 2.0.1
