---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","profile_id":"whi543_profile","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111752Z","spam_classifier":{"score":0,"label":"notspam"},"response_id":"CLID-1253-EVENTS2001-0306111752-03BC8E0C-677E-11E1-8E44-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:52 GMT
recorded_with: VCR 2.0.0
