---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/post/analyst_feedback/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"4n4l1s7","blog_post_id":"just-a-post#984721","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213173120Z","event_type":"generic_post.analyst_feedback","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"E827397A-454A-11E2-9979-2CC381A98F61"}'
  recorded_at: Thu, 13 Dec 2012 17:31:23 GMT
recorded_with: VCR 2.2.2
