---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"whi789","reporter_user_type":"MODERATOR","reporter_ip":"1.1.1.1","user_id":"whi543","desired_result":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''desired_result'' could
        not be found)"}'
  recorded_at: Tue, 06 Mar 2012 11:17:49 GMT
recorded_with: VCR 2.0.0
