---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"whi789","reporter_user_type":"MODERATOR","reporter_ip":"","user_id":"whi543","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"37E3865C-A3F3-11E1-BED4-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Value '''' is not of type ''ipv4'' for
        element ''reporter_ip'')"}'
  recorded_at: Tue, 22 May 2012 09:48:01 GMT
recorded_with: VCR 2.0.1
