---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/comment/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","comment_id":"simple-comment-347865","content":"a
        simple comment","comment_permalink":"http://example.com/2012/03/05/just_a_comment","article_permalink":"http://example.com/2012/01/05/just_a_post","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111706Z","spam_classifier":{"score":"0.08","label":"notspam"},"policy_classifier":{"action":"allow","labels":[]},"response_id":"CLID-1253-EVENTS2001-0306111705-E7ECDA6A-677D-11E1-A014-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:06 GMT
recorded_with: VCR 2.0.0
