---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/comment/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","comment_id":"simple-comment-347865","content":"a
        simple comment","comment_permalink":"http://example.com/2012/03/05/just_a_comment","article_permalink":"http://example.com/2012/01/05/just_a_post","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event_type":"comment.create","client_id":"1253","hostname":"events2001.impermium.com","4.0":{"tags":[]},"timestamp":"20120522094715Z","spam_classifier":{"score":0.01,"label":"notspam"},"policy_classifier":{"action":"allow","labels":[]},"response_id":"1CEEB15A-A3F3-11E1-A23C-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:16 GMT
recorded_with: VCR 2.0.1
