---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/comment/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi345","comment_id":"simple-comment-347865","content":"a
        simple comment","comment_permalink":"http://example.com/2012/03/05/just_a_comment","article_permalink":null,"enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''article_permalink''
        could not be found)"}'
  recorded_at: Tue, 06 Mar 2012 11:17:04 GMT
recorded_with: VCR 2.0.0
