---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"4n4l1s7","blog_post_id":"just-a-post#984721","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094653Z","event_type":"blog_post.analyst_feedback","client_id":"1253","hostname":"events2001.impermium.com","response_id":"0FDB46EA-A3F3-11E1-A23C-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:46:54 GMT
recorded_with: VCR 2.0.1
