---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"4n4l1s7","blog_post_id":"just-a-post#984721","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111644Z","response_id":"CLID-1253-EVENTS2001-0306111644-DB7D6D26-677D-11E1-A87B-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:16:44 GMT
recorded_with: VCR 2.0.0
