---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/url/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi777","url":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121212211933Z","event_type":"url.create","status":200,"client_id":"1253","hostname":"events1001.impermium.com","response_id":"9FB30BDC-44A1-11E2-B847-9F75CCDB01D8"}'
  recorded_at: Wed, 12 Dec 2012 21:19:38 GMT
recorded_with: VCR 2.0.1
