---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","enduser_ip":"127.0.0.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"AA35278E-A4C9-11E1-9D30-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''enduser_ip'' could
        not be found)"}'
  recorded_at: Wed, 23 May 2012 11:23:05 GMT
recorded_with: VCR 2.0.1
