---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"profile_id":"whi543_profile","analyst_id":"123456","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111754Z","response_id":"CLID-1253-EVENTS2001-0306111754-0530E274-677E-11E1-A87B-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:54 GMT
recorded_with: VCR 2.0.0
