---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"profile_id":"whi543_profile","analyst_id":"123456","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094808Z","event_type":"profile.analyst_feedback","client_id":"1253","hostname":"events2001.impermium.com","response_id":"3C6F50FC-A3F3-11E1-BD38-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:48:08 GMT
recorded_with: VCR 2.0.1
