---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"profile_id":"whi543_profile","analyst_id":"123456","desired_result":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"3C12E024-A3F3-11E1-9F1E-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''desired_result'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:48:08 GMT
recorded_with: VCR 2.0.1
