---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/login/analyst_feedback/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","attempt_id":1,"desired_result":{"4.0":{"tags":["spam"]}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213182817Z","event_type":"login.analyst_feedback","status":200,"client_id":"1253","hostname":"events1002.impermium.com","response_id":"DCF04530-4552-11E2-89EC-3CB61D137137"}'
  recorded_at: Thu, 13 Dec 2012 18:41:44 GMT
recorded_with: VCR 2.2.2
