---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/blog_post/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"r3p0rt3r","reporter_user_type":"MODERATOR","reporter_ip":"1.1.1.1","blog_post_id":null,"desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''blog_post_id'' could
        not be found)"}'
  recorded_at: Tue, 06 Mar 2012 11:16:47 GMT
recorded_with: VCR 2.0.0
