---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/profile/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","profile_id":"whi543_profile"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"block","tag_details":{"spam":{"score":"1"}},"tags":["spam"]},"timestamp":"20121213190340Z","event_type":"profile.create","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"CE57B814-4557-11E2-99CC-2CC381A98F61"}'
  recorded_at: Thu, 13 Dec 2012 19:03:43 GMT
recorded_with: VCR 2.2.2
