---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/profile/analyst_feedback/
    body:
      encoding: UTF-8
      string: ! '{"profile_id":"123456","user_id":"whi543_profile","desired_result":{"4.0":{"spam_classifier":{"label":"notspam"}}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121212233601Z","event_type":"profile.analyst_feedback","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"B051E554-44B4-11E2-9174-2CC381A98F61"}'
  recorded_at: Wed, 12 Dec 2012 23:36:05 GMT
recorded_with: VCR 2.0.1
