---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/profile/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","profile_id":"whi543_profile"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"block","tag_details":{"spam":{"score":"1"}},"tags":["spam"]},"timestamp":"20121212233600Z","event_type":"profile.create","status":200,"client_id":"1253","hostname":"events1001.impermium.com","response_id":"AF2BA19C-44B4-11E2-9937-9F75CCDB01D8"}'
  recorded_at: Wed, 12 Dec 2012 23:36:04 GMT
recorded_with: VCR 2.0.1
