---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/connection/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"r3p0rt3rcid","reporter_user_type":"MODERATOR","reporter_ip":"3.3.3.3","connection_type":"follow","connection_id":"u236711u558749c9724392933355478","desired_result":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"2B722F72-A3F3-11E1-BD38-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''desired_result'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:47:40 GMT
recorded_with: VCR 2.0.1
