---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"whi789","reporter_user_type":"ENDUSER","reporter_ip":"1.1.1.1","user_id":"whi543","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094803Z","event_type":"account.user_feedback","client_id":"1253","hostname":"events2001.impermium.com","response_id":"39808F64-A3F3-11E1-9A2A-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:48:03 GMT
recorded_with: VCR 2.0.1
