---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"123456","user_id":"whi543","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111746Z","response_id":"CLID-1253-EVENTS2001-0306111746-000B46AE-677E-11E1-A982-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:46 GMT
recorded_with: VCR 2.0.0
