---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"123456","user_id":"whi543","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094759Z","event_type":"account.analyst_feedback","client_id":"1253","hostname":"events2001.impermium.com","response_id":"36CBE82C-A3F3-11E1-B438-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:59 GMT
recorded_with: VCR 2.0.1
