---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/message/analyst_feedback/
    body:
      encoding: UTF-8
      string: ! '{"user_id":null,"message_id":null,"desired_result":{"4.0":null}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213173146Z","event_type":"generic_message.analyst_feedback","status":200,"client_id":"1253","hostname":"events1001.impermium.com","response_id":"F7F4C20A-454A-11E2-AB2C-9F75CCDB01D8"}'
  recorded_at: Thu, 13 Dec 2012 17:31:51 GMT
recorded_with: VCR 2.2.2
