---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/message/
    body:
      encoding: UTF-8
      string: ! '{"user_id":null,"message_id":null,"content":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"block","tag_details":{"spam":{"score":"1"}},"tags":["spam"]},"timestamp":"20121213171824Z","event_type":"generic_message.create","status":200,"client_id":"1253","hostname":"events1002.impermium.com","response_id":"18E95108-4549-11E2-ADDF-3CB61D137137"}'
  recorded_at: Thu, 13 Dec 2012 17:31:50 GMT
recorded_with: VCR 2.2.2
