---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/user_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"reporter_user_id":"r3p0rt3r_ID","reporter_user_type":"MODERATOR","reporter_ip":"2.2.2.2","bookmark_id":null,"desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"19608B6C-A3F3-11E1-B95B-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''bookmark_id'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:47:10 GMT
recorded_with: VCR 2.0.1
