---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/message/user_feedback/
    body:
      encoding: UTF-8
      string: ! '{"user_id":null,"message_id":null,"desired_result":{"4.0":null}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"allow","tags":[]},"timestamp":"20121213161811Z","event_type":"generic_message.user_feedback","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"B0819EAC-4540-11E2-82FD-2CC381A98F61"}'
  recorded_at: Thu, 13 Dec 2012 16:18:15 GMT
recorded_with: VCR 2.0.1
