---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/4.0/REMOVED-API-KEY-VALUE/message/
    body:
      encoding: UTF-8
      string: ! '{"user_id":null,"message_id":null,"content":null}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"action":"block","tag_details":{"spam":{"score":"1"}},"tags":["spam"]},"timestamp":"20121213161810Z","event_type":"generic_message.create","status":200,"client_id":"1253","hostname":"events1003.impermium.com","response_id":"AF28021C-4540-11E2-BB9F-2CC381A98F61"}'
  recorded_at: Thu, 13 Dec 2012 16:18:14 GMT
recorded_with: VCR 2.0.1
