---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/listing/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi231","listing_id":"78912li","content":"sales ad list","listing_permalink":"http://example.com/listings/78912li","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"timestamp":"20120306111731Z","spam_classifier":{"score":"0.11","label":"notspam"},"response_id":"CLID-1253-EVENTS2001-0306111731-F744FC2C-677D-11E1-B51A-014AFFBDFCB2"}'
  recorded_at: Tue, 06 Mar 2012 11:17:31 GMT
recorded_with: VCR 2.0.0
