---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/listing/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi231","listing_id":"78912li","content":"sales ad list","listing_permalink":"http://example.com/listings/78912li","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event_type":"listing.create","client_id":"1253","hostname":"events2001.impermium.com","4.0":{"tags":[]},"timestamp":"20120523111420Z","spam_classifier":{"score":0.42,"label":"notspam"},"response_id":"71430488-A4C8-11E1-B657-AF4BFFBDFCB2"}'
  recorded_at: Wed, 23 May 2012 11:14:20 GMT
recorded_with: VCR 2.0.1
