---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/bookmark/analyst_feedback/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"analyst_id":"4n4l1s7_ID","bookmark_id":"b00km4rk_ID","desired_result":{"spam_classifier":{"label":"notspam"}}}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"4.0":{"tags":[]},"timestamp":"20120522094707Z","event_type":"bookmark.analyst_feedback","client_id":"1253","hostname":"events2001.impermium.com","response_id":"17E9C578-A3F3-11E1-A76B-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:07 GMT
recorded_with: VCR 2.0.1
