---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/account/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event_type":"account.create","client_id":"1253","hostname":"events2001.impermium.com","4.0":{"tags":["low_risk"]},"timestamp":"20120522094754Z","spam_classifier":{"label":"notspam","score":4.60627835740114e-06,"risk":"low"},"response_id":"33D5888A-A3F3-11E1-8510-AF4BFFBDFCB2"}'
  recorded_at: Tue, 22 May 2012 09:47:54 GMT
recorded_with: VCR 2.0.1
