---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","profile_id":null,"enduser_ip":"1.1.1.1"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"3A3E25CE-A3F3-11E1-9F1E-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''profile_id'' could
        not be found)"}'
  recorded_at: Tue, 22 May 2012 09:48:05 GMT
recorded_with: VCR 2.0.1
