---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/profile/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"user_id":"whi543","profile_id":"whi543_profile","enduser_ip":""}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Value '''' is not of type ''ipv4'' for
        element ''enduser_ip'')"}'
  recorded_at: Tue, 06 Mar 2012 11:17:51 GMT
recorded_with: VCR 2.0.0
