---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/connection/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"operation":"request","connection_type":"no-valid","connection_id":"u236711u558749c9724392933355478","requester_user_id":"u236711","responder_user_id":"u558749","enduser_ip":"3.3.3.3"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"response_id":"226AC0E2-A3F3-11E1-B438-AF4BFFBDFCB2","hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Only the following values (follow friend)
        are allowed for field (connection_type))"}'
  recorded_at: Tue, 22 May 2012 09:47:25 GMT
recorded_with: VCR 2.0.1
