---
http_interactions:
- request:
    method: post
    uri: http://api-test.impermium.com/connection/3.1/REMOVED-API-KEY-VALUE/
    body:
      encoding: UTF-8
      string: ! '{"operation":"request","connection_type":null,"connection_id":"u236711u558749c9724392933355478","requester_user_id":"u236711","responder_user_id":"u558749","enduser_ip":"3.3.3.3"}'
    headers:
      Http-User-Agent:
      - Impermium Ruby Gem
      Http-Accept:
      - application/json
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"status":400,"hostname":"events2001.impermium.com","message":"Unable
        to verify the schema of the event: (Required element ''connection_type'' could
        not be found)"}'
  recorded_at: Tue, 06 Mar 2012 11:17:13 GMT
recorded_with: VCR 2.0.0
